.wrapper {
    margin: 50px;
    padding: 10px;
    background: #FFFFFF;
}

.wrapperTitle {
    margin: 30px;
    padding: 54px 20px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.link {
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0 , 0 , 0.3);
}
span{
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0 , 0 , 1);
}