.sidebar {
  grid-area: sidebar;
  @media (max-width: 767px) {
    display: none;
  }
}

.sidebarMobile {
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 10;
    width: 100%;
    //transition: ;

  }
}

.wrapper {

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.filterBtn {
  align-self: center;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #568FFF;
  color: #FFFFFF;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

// Category Block Fixed
.categoriesBlock {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// ALL DropDownItems
.categoryListDropDownItem,
.sizeListDropDownItem,
.priceListDropDownItem,
.collectionListDropDownItem,
.brandListDropDownItem,
.styleListDropDownItem,
.seasonListDropDownItem, {
  margin-top: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    transition: color 0.15s ease-in-out;
    color: #2D74FF;

    svg {
      path {
        transition: fill 0.15s ease-in-out;
        fill: #2D74FF;
      }
    }
  }

  // DropDownIcon
  .dropDownIcon {
    .up {
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }
    .down {
      transform: rotate(0);
      transition-duration: 0.3s;
    }
  }

  // ALL Title Items
  .categoryListTitle,
  .sizeListTitle,
  .priceListTitle,
  .collectionListTitle,
  .brandListTitle,
  .styleListTitle,
  .seasonListTitle, {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
}

// ALL Lists (without - sizeList)
.categoryList,
.priceList,
.collectionList,
.brandList,
.styleList,
.sizeList,
.seasonList {
  display: grid;
  row-gap: 7px;
  margin-bottom: 24px;
  //Animation for Lists
  animation: listOpen 300ms ease-in-out;
  transform-origin: top center;

  @keyframes listOpen {
    0% {
      transform: rotateX(-90deg);
      opacity: 0.2;
    }
    //70% {
    //  transform: rotateX(20deg);
    //}
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
}

.categoryListItem {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
// Active
.categoryListItemActive {
  color: #2D74FF;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//  ALL Blocks
.pricesBlock,
.sizesBlock,
.collectionsBlock,
.brandsBlock,
.stylesBlock,
.categoriesBlock,
.seasonsBlock {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

// Size List Fixed
.sizeList {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

// Size List Item's order
.sizeListItem:nth-child(1) {
  order: 1;
}

.sizeListItem:nth-child(2) {
  order: 3;
}

.sizeListItem:nth-child(3) {
  order: 5;
}

.sizeListItem:nth-child(4) {
  order: 2;
}

.sizeListItem:nth-child(5) {
  order: 4;
}

.sizeListItem:nth-child(6) {
  order: 6;
}