@import "src/pages/category_page/styles/variables";

.off {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $bg_hover_color;
    svg {
      path {
      fill: #FFFFFF;
      }
    }
  }
}

.on {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: $bg_active_color;

    svg {
      path {
        fill: #FFFFFF;
      }
    }
}