$bg_hover_color: #568FFF;
$bg_active_color: #2D74FF;
$bg_sale_color: #FA4A69;
$border_bottom_color: rgba(0, 0, 0, 0.1);
$border_pagination_color: rgba(0, 0, 0, 0.1);
$border_input_color: rgba(0, 0, 0, 0.3);
$font_default_color: #000000;
$border_checkbox_color: rgba(0, 0, 0, 0.1);