@import "src/pages/category_page/styles/variables";


.root {
  grid-area: paginationBlock;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBlock {
  margin-left: 350px;
  margin-bottom: 30px;
  width: 380px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.item {
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:hover {
    background-color: $bg_hover_color;
    color: #FFFFFF;
    svg {
      path {
        fill: #FFFFFF;
        fill-opacity: 1;
      }
    }
  }
}

.active {
  background-color: $bg_active_color;
  color: #FFFFFF;
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}