.subscription{
  display: grid;
  justify-content: center;
  grid-template-columns: 800px 800px;
  grid-template-rows: 440px;

  .baseImg{
    max-width: 1600px;
    img{
      width:100%;
      height:100%;
    }
  }
  .subscriptionWrapper{
    width:1600px;
    background-color:  blue;
}
}