
.square{
    box-sizing: border-box;
    margin-bottom: 98px;
    margin-left: 77px;

    width: 360px;
    height: 445px;



    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title{

    width: 123px;
    height: 34px;

    margin: 23px 0 26px 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;

    letter-spacing: -0.8px;


    color: #000000;
}
.promoCode{
    box-sizing: border-box;


    width: 190px;
    height: 40px;

    margin: 0 10px 30px 30px;



    background: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.apply{
    box-sizing: border-box;

    width:90px;
    height: 40px;
    left: 1312px;




    background: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.wordApply{
    width: 43px;
    height: 18px;



    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;




    color: #000000;


    flex: none;
    order: 0;
    flex-grow: 0;
}
.priceAndService{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #000000;


}
.subtotal{

    width: 220px;
    height: 23px;
    margin: 0 0 16px 30px;

    letter-spacing: -0.6px;



}
.subtotalPrice{

    width: 80px;
    height: 23px;
    margin: 0 30px 16px 0;
    padding-left: 202px;
    text-align: right;
    letter-spacing: -0.6px;
}
.service{
    width: 220px;
    height: 23px;
    margin: 0 0 30px 30px;


    letter-spacing: -0.6px;
}
.servicePrice{
    width: 80px;
    height: 23px;

    padding-left: 85px;


    text-align: right;
    letter-spacing: -0.6px;
}
.totalCost{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    display: flex;
    align-items: center;
    letter-spacing: -0.6px;

    flex: none;
    order: 0;
    flex-grow: 0;






}
.total{

    width: 45px;
    height: 24px;
    margin: 0 202px 0 32px;


}
.totalPrice{
    width: 49px;
    height: 24px;
    margin: 0 32px 0 202px;

}
.line{
    width: 300px;
    height: 1px;
    margin: 15px 30px 10px 30px;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.buttonCheckout{
    width: 300px;
    height: 60px;

    margin: 0 30px 30px 30px;


    background: #2D74FF;
    border-radius: 10px;

}
.checkout{
    width: 88px;
    height: 24px;



    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;








}