.root {
  margin-top: 5px;

  svg:nth-child(1) {
    margin-left: 0;
  }

  svg {
    margin-left: 5px;
    cursor: pointer;
    & > path:hover {
      fill:  #568FFF;
      fill-opacity: 1;
    }

    & > path:active {
      fill: #568FFF;
      fill-opacity: 1;
    }
    //.off {
    //  fill: grey;
    //}
    //
    //.on {
    //  fill: #568FFF;
    //  fill-opacity: 1;
    //}
  }


}