
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------------------------------- Mobile break-point------------------------------------------------*/

@media screen and (max-width: 576px) {

    .main {
        background: #FFFFFF;
    }

    .header {
        border-bottom: 1px solid grey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 80px;
    }

    .logo {
        width: 67px;
        height: 30px;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        display: flex;
        align-items: center;
        letter-spacing: -0.5px;

        /* Base / White */

        color: #FFFFFF;


        flex: none;
        order: 0;
        flex-grow: 0;
    }

    ul{
        flex-wrap: wrap;
    }

    li {
        font-family: 'Inter', sans-serif;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
        padding-left: 2vw;
    }

    li:hover {
        color: #FFFFFF;
        cursor: pointer;
    }

    .promo {
        display: flex;
        height: 570px;
        background-color: #17181F;
    }


    .nike {
        position: absolute;
        margin: 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 30vw;
        line-height: 300px;
        /* identical to box height, or 16% */

        text-align: center;
        letter-spacing: -4.5px;

        color: rgba(238, 237, 240, 0.1);
    }


    .arrival {
        width: 200px;
        height: 44px;
        left: 155px;
        top: 748px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height, or 122% */

        letter-spacing: -1.2px;
    }

    .bar_code{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */

        letter-spacing: -0.5px;

        /* Grey / Dark / 4 */

        color: rgba(0, 0, 0, 0.6);
    }

    .product_name{
        width: 146px;
        height: 40px;

        /* Caption / 3 / Medium */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* or 112% */

        letter-spacing: -0.5px;

        /* Base / Black */

        color: #000000;
    }

    /* NIKE */
    .brandname {
        position: absolute;
        height: 80px;
        left: 226px;
        top: 333px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 500px;
        line-height: 80px;
        /* identical to box height, or 16% */

        text-align: center;
        letter-spacing: -4.5px;

        color: rgba(238, 237, 240, 0.1);
    }

    .tittle {
        margin: 2vh auto;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 50px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -4.5px;
        color: rgba(238, 237, 240, 0.85);
    }

    .tittleSmall {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 18px;
        line-height: 16px;

        text-align: center;
        letter-spacing: -1px;

        color: #EEEDF0;

        text-shadow: 0 5px 12px rgba(203, 105, 193, 0.25);

    }
}


/*-------------------------------------------- Desktop break-point------------------------------------------------*/


@media screen and (min-width: 576px) {


    .header {
        border-bottom: 1px solid grey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 80px;
    }


    li {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        padding-left: 2vw;
        color: grey;

    }

    li:hover {
        color:#FFFFFF;
        cursor: pointer;
    }

    .hover_black:hover{
        cursor: pointer;
        color: white;
    }

    .hover_white:hover{
        cursor: pointer;
        color: black;
    }



    .searchWhite {
        height: 30px;
        border: 1px solid grey;
        background: white url("/src/assets/Inputs/seachIconBlack.svg") no-repeat center left 5px;
        border-radius: 8px;
        color: black;
        padding-left: 25px;
        font-weight: 400
    }


    .search {
        height: 30px;
        border: 1px solid white;
        background: black url("/src/assets/Inputs/seachIcon.svg") no-repeat center left 5px;
        border-radius: 8px;
        color: white;
        padding-left: 25px;
        font-weight: 400
    }

    .promo {
        display: flex;
        height: 570px;
        background-color: #17181F;
    }

    .slideDown{
        padding: 20px 0px 20px 50px;
        position: absolute;
        display: flex;
        flexWrap: wrap;
        list-style: none;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid grey;
        opacity: 1;
    }

    .slideDown ul{
        list-style: none;
        padding: 0;
    }

    .slideDown li{
        padding: 0;
    }

    .categoryList{
        margin-left: 3vw;
    }

    .categoryList li:hover{
        color: black;
    }

    .categoryWhiteList{
        margin-left: 3vw;
    }

    .categoryWhiteList:hover{
        color: white
    }


    .hoverarrow:hover{
        background-color: #282828;
    }

    .fromtop{
        overflow: hidden;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        animation-name: lozung;
        animation-duration: 2s;
    }

    @keyframes lozung {
        0%
        {
            top: -100%;
        }
        100%
        {
            top: 0;
        }
    }

    .tittle {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 60px;
        text-align: center;
        letter-spacing: -4.5px;
        color: rgba(238, 237, 240, 0.85);
    }

    .tittleSmall {
        position: inherit;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        letter-spacing: -1px;

        color: #EEEDF0;

        text-shadow: 0 5px 12px rgba(203, 105, 193, 0.25);
        animation-name: up;
        animation-duration: 3s;
    }

    @keyframes up {
        0%
        {
            top: 100%;
        }
        100%
        {
            top: 50%;
        }
    }

    .animPromo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: up;
        animation-duration: 2s;
    }

    @keyframes fromtop {
        0%
        {
            top: 100%;

        }
        100%
        {
            top: 50%;

        }
    }


    .nike {
        margin: 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 30vw;
        line-height: 300px;
        text-align: center;
        letter-spacing: -4.5px;
        color: rgba(238, 237, 240, 0.1);
        animation-name: fromtop;
        animation-duration: 3s;

    }

    @keyframes fromtop {
        0%
        {
            top: 100%;
            transform: rotate3d(1,0,0, 90deg);
        }
        100%
        {
            top: 50%;
            transform: rotate3d(1,0,0, 0deg);
        }
    }

    .imgStyle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        animation-duration: 3s;
    }

    @keyframes appear {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes appear1 {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes appear2 {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .main {
        overflow: hidden;
        background: #FFFFFF;
    }


    .logo {
        width: 67px;
        height: 30px;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        display: flex;
        align-items: center;
        letter-spacing: -0.5px;

        /* Base / White */



        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .arrival {
        margin-bottom: 50px;
        width: 200px;
        height: 44px;
        left: 155px;
        top: 748px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height, or 122% */

        letter-spacing: -1.2px;
    }

    .letter {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        letter-spacing: -1px;

        /* Grey / Light / 4 */

        color: rgba(255, 255, 255, 0.5);
    }

    .subtittle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 54px;
        /* or 112% */

        letter-spacing: -1.6px;

        /* Base / White */

        color: #FFFFFF;

    }

    .inputMail {
        width: 50%;
        margin-right: 1vw;
        padding-left: 30px;
        border-radius: 10px;
        background: white url("/src/assets/Inputs/mailIcon.svg") no-repeat center left 5px;

    }

    .fmenu{
        margin: 0;
        padding: 0;
    }
    .fmenu li{
        margin: 0;
        padding: 0;
    }

    .ftittle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        display: flex;
        align-items: center;
        letter-spacing: -0.6px;

        /* Base / White */

        color: #FFFFFF;
    }

    .client_name
    {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        letter-spacing: -0.6px;

        /* Base / Black */

        color: #000000;
    }

    .orders{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 54px;
        /* identical to box height, or 112% */

        display: flex;
        align-items: center;
        letter-spacing: -1.6px;

        /* Base / Black */

        color: #000000;
    }

    .grayfont{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height, or 115% */
        letter-spacing: -0.2px;

        /* Grey / Dark / 3 */

        color: rgba(0, 0, 0, 0.3);
    }

    .menu_profile{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
        letter-spacing: -0.3px;

        /* Grey / Dark / 3 */

        color: rgba(0, 0, 0, 0.3);
    }

    .db{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        /* identical to box height, or 121% */

        text-align: center;
        letter-spacing: -0.8px;

        /* Accent 1 / 4 */

        color: #2D74FF;

    }

    .orderspec
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0px 10px;
        margin: 0;

    }

    .orderspec li{
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height, or 115% */
        letter-spacing: -0.2px;

        /* Grey / Dark / 3 */

        color: rgba(0, 0, 0, 0.3);
    }

    .orderspec .productname{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */

        letter-spacing: -0.5px;

        /* Base / Black */

        color: #000000;
    }

    .delivery_status{
        margin-left: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height, or 120% */

        display: flex;
        align-items: center;
        letter-spacing: -0.5px;

        /* Accent 1 / 4 */

        color: #2D74FF;
    }

    .coast{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height, or 120% */

        display: flex;
        align-items: center;
        letter-spacing: -0.6px;

        /* Base / Black */

        color: #000000;
    }
    li span{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height, or 115% */

        letter-spacing: -0.2px;

        /* Grey / Dark / 3 */

        color: black;
    }
}